body {
    font-family: 'Roboto', sans-serif;
}

.header-section {
    background-image: url('./assets/backgrounds/h_img.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #FFF;
}

.stacked-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    border-radius: 5px;
}

.stacked-item {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.stacked-item h5 {
    font-size: smaller;
}

.header-section .container {
    position: relative;
}

.about-us-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

.services-section {
    background-image: url('./assets/backgrounds/s_image.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
}

.contact-us-section {
    background-image: url('./assets/backgrounds/c_image.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px 0;
    margin-bottom: 50px;
}

.contact-us-section .container {
    position: relative;
}

.icons-section {
    margin-top: 50px;
    text-align: center;
}

.icons-section img {
    font-size: 40px;
    cursor: pointer;
}

.icons-section img:hover {
    color: #007bff;
}

.description-section {
    text-align: center;
}

.portfolio-section {
    margin: 50px;
    margin-top: 20px;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    transition: transform 0.5s;
    display: flex;
    justify-content: space-around;
}

.portfolio-item:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay p {
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

.footer {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 0;
}